* {
  margin: 0px;
  padding: 0px;
}

.form {
  max-width: 600px;
  border: 1px solid black;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 700px;
}
.form_inputdiv {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.form_labeldiv {
  /* padding-top: 10px; */
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  padding-left: 10px;
}

select {
  width: 220px;
  margin-right: 10px;
}
input[type="text"] {
  width: 230px;
  margin-right: 10px;
}

input[type="number"] {
  width: 230px;
  margin-right: 10px;
}

option {
  width: 220px;
  overflow: hidden;
  margin-right: 10px;
  overflow: hidden;
}
.form_checkbox_div {
  display: flex;
  flex-direction: column;
  width: 230px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  margin-right: 10px;
}
.form_checkbox_div > div {
  display: flex;
  flex-direction: row;
}
.form_checkbox_div > div > p {
  font-size: 15px;
  font-weight: 500;
  padding-left: 5px;
}
